-i https://pypi.org/simple

django<4.0,>=3.0
djangorestframework
django-filter
django-cors-headers
django-environ
celery
requests
redis
psycopg2-binary
python-gitlab
requirements-parser

# dev
black==20.8b1
flake8
flake8-blind-except
flake8-bugbear
flake8-debugger
flake8-isort
flake8-print
flake8-quotes
isort[requirements_deprecated_finder]
mypy
pytest
pytest-django